.pg_player2
{
display:none;
}

.sg_player2
{
display:none;
}

.sf_player2
{
display:none;
}

.pf_player2
{
display:none;
}

.c_player2
{
display:none;
}
.reason textarea {
    height:140px;
    width:800px
}
