body
{
  text-align:center;
}

.pg_player2
{
  display:none;
  font-size:20px;

}

.sg_player2
{
  display:none;
  font-size:20px;
}

.sf_player2
{
  display:none;
  font-size:20px;
}

.pf_player2
{
  display:none;
  font-size:20px;
}

.c_player2
{
  display:none;
  font-size:20px;
}

.reason textarea
{
  height:140px;
  width:800px
}

.pg_teams
{
  display:flex;
  margin:0 auto;
  font-size:20px;
}

.sg_teams
{
  display:flex;
  margin:0 auto;
  font-size:20px;
}

.sf_teams
{
  display:flex;
  margin:0 auto;
  font-size:20px;
}

.pf_teams
{
  display:flex;
  margin:0 auto;
  font-size:20px;
}

.c_teams
{
  display:flex;
  margin:0 auto;
  font-size:20px;
}

h1
{
  position: relative;
  display:inline-block;
  text-align: center;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 70px;
  border: 2px solid #000;
  border-radius: 100vh;
  width:50%;
}

h1 span
{
  font-size: 15px;
  font-size: 2.0rem;
  line-height:50px;
  position: absolute;
  top: calc(50% - 25px);
  left: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background: #000;
}

.pg_player_name
{
  display:flex;
  flex-direction:column;
}

.sg_player_name
{
  display:flex;
  flex-direction:column;
}

.sf_player_name
{
  display:flex;
  flex-direction:column;
}

.pf_player_name
{
  display:flex;
  flex-direction:column;
}

.c_player_name
{
  display:flex;
  flex-direction:column;
}

.back
{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  border:double 3px #00BCD4;
}

.back:hover
{
  background: #00bcd4;
  color: white;
}

.submit
{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  border:double 3px #00BCD4;
}

.submit:hover
{
  background: #00bcd4;
  color: white;
}

@media screen and (max-width: 959px)
{
  .pg_teams{
    font-size:15px;
  }
  
    .sg_teams{
    font-size:15px;
  }
  
    .sf_teams{
    font-size:15px;
  }
  
    .pf_teams{
    font-size:15px;
  }
  
    .c_teams{
    font-size:15px;
  }
  
  .reason textarea {
    height: 140px;
    width: 450px;
}
  
  
  h1
  {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 70px;
    border: 2px solid #000;
    border-radius: 100vh;
    width:80%;
    display:inline-block;
    text-align: center;
    font-size:23px;
  }
  
  h1 span
  {
    font-size: 15px;
    font-size: 2.0rem;
    line-height:50px;
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #000;
  }
}

@media screen and (max-width:480px)
{
  
    .pg_teams{
    font-size:12px;
  }
  
    .sg_teams{
    font-size:12px;
  }
  
    .sf_teams{
    font-size:12px;
  }
  
    .pf_teams{
    font-size:12px;
  }
  
    .c_teams{
    font-size:12px;
  }
  
  .reason textarea {
    height: 140px;
    width: 350px;
}

  h1
  {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 70px;
    border: 2px solid #000;
    border-radius: 100vh;
    width:80%;
    display:inline-block;
    text-align: center;
    font-size:14px;
  }
  
  h1 span
  {
    font-size: 15px;
    font-size: 2.0rem;
    line-height:50px;
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #000;
  }
}

@media screen and (max-width:360px)
{
  
      .pg_teams{
    font-size:10px;
  }
  
    .sg_teams{
    font-size:10px;
  }
  
    .sf_teams{
    font-size:10px;
  }
  
    .pf_teams{
    font-size:10px;
  }
  
    .c_teams{
    font-size:1-px;
  }
  
  .reason textarea {
    height: 140px;
    width: 300px;
}
  h1
  {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 70px;
    border: 2px solid #000;
    border-radius: 100vh;
    width:80%;
    display:inline-block;
    text-align: center;
  }
  
  h1 span
  {
    font-size: 15px;
    font-size: 2.0rem;
    line-height:50px;
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #000;
  }
}