.liked
{
  color: #FFD700;
}
body
{
  text-align: center;
}

.reason
{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: double 4px #000000;
  display: inline-block;
    width: 70%;
  word-wrap: break-word;
  text-align: left;
  font-size:20px;
}

.reason p
{
  margin: 0;
  padding: 0;
}

h1
{
  position: relative;
  display:inline-block;
  text-align: center;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 70px;
  border: 2px solid #000;
  border-radius: 100vh;
  width:50%;
}

h1 span
{
  font-size: 15px;
  font-size: 2.0rem;
  line-height:50px;
  position: absolute;
  top: calc(50% - 25px);
  left: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background: #000;
}

.contents
{
  padding-bottom: 20px;
}

.player_name
{
  padding-bottom: 20px;
}

.button
{
  text-align: right;
}

.my-page
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 23px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.my-page i
{
  line-height: 40px;
}

.my-page:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.create
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.create i
{
  line-height: 40px;
}
.create:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.players
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.players i
{
  line-height: 40px;
}

.players:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}


.ranking-create
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.ranking-create i
{
  line-height: 40px;
}

.ranking-create:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.home
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.home i
{
  line-height: 40px;
}

.home:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.my-account
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.my-account i
{
  line-height: 40px;
}

.my-account:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.player-content
{
  width: 30%;
  margin:10px;
  border :solid 2px black;
  display:inline-block;
  vertical-align: top;
}

.player-name
{
  font-size:20px;
}

.player-image
{
  width:20%;
  padding-bottom:20px;
}

.team-image
{
  width:4%;
  margin:0 10px;
}

.team-image2
{
  width:2%;
  margin:0 10px;
}

.user-image
{
  width:2%;
  border :solid 1px black;
  margin:0 10px;
}

.player-button
{
  margin-bottom:10px;
}

#like
{
  font-size:20px;
  text-align:right;
  margin-right:50px;
}

.user-contents
{
  text-align:left;
  margin-left:30px;
}

.poster
{
  font-size:40px;
}

.delete
{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: red;
  background: #ECECEC;
  transition: .4s;
  border:double 3px red;
}

.delete:hover
{
  background: red;
  color: white;
}