.player-by-team
{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  transition: .4s;
  border: solid 2px #00bcd4;
}

.player-by-team:hover
{
  background: #00bcd4;
  color: white;
}

.conference-select
{
  display:flex;
  font-size:20px;
  text-align:center;
  margin-left: 400px;
  margin-bottom:20px;
}

h1
{
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 70px;
  border: 2px solid #000;
  border-radius: 100vh;
  width:50%;
  display:inline-block;
  text-align: center;
}

h1 span
{
  font-size: 15px;
  font-size: 2.0rem;
  line-height:50px;
  position: absolute;
  top: calc(50% - 25px);
  left: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background: #000;
}


.button
{
  text-align: right;
}

body
{
  text-align: center;
}

.my-page
{
   display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 23px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.my-page i
{
  line-height: 40px;
}

.my-page:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.create
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.create i
{
  line-height: 40px;
}
.create:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.players
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.players i
{
  line-height: 40px;
}

.players:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}


.ranking
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.ranking i
{
  line-height: 40px;
}

.ranking:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.home
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.home i
{
  line-height: 40px;
}

.home:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.my-account
{
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.my-account i
{
  line-height: 40px;
}

.my-account:active
{
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.team-image
{
  width:20%;
  margin-top:20px;
  margin-bottom:20px;
}

.peformance
{
  border:double 10px black;
  margin-right:200px;
  margin-left:200px;
  font-size: 25px;
  padding-top:10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.team-name
{
  font-size:25px;
  border:solid 3px black;
  margin-right:200px;
  margin-left:200px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top:10px;
}

.state
{
  margin-left:30px;
}

@media screen and (max-width: 959px)
{
  
  h1
  {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 70px;
    border: 2px solid #000;
    border-radius: 100vh;
    width:80%;
    display:inline-block;
    text-align: center;
    font-size:40px;
  }
  
  h1 span
  {
    font-size: 15px;
    font-size: 2.0rem;
    line-height:50px;
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #000;
  }
  
  .button
  {
    text-align: right;
  }
  
  .team_Name
  {
    display: flex;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
  }
  
  .my-account
  {
    margin :0 10px;
  }
  
  .create
  {
    margin :0 10px;
  }
  
  .ranking
  {
    margin :0 10px;
  }
  
  .my-page
  {
    margin :0 10px;
  }
  
  .players
  {
    margin :0 10px;
  }
  
  .user-image
  {
    width:4%;
    border:solid 1px black;
    margin-right:4px;
  }
  
  .team-image
  {
    width:3%;
  }
  
  .name
  {
    font-size:30px;
  }
  
  #player-team
  {
    font-size:20px;
  }
  
  #player-position
  {
    font-size:20px;
  }
  
  .player-image
  {
    width:30%;
  }
  
  .reviews
  {
    font-size:20px;
  }
  
  .poster
  {
    font-size:12px;
  }
  
  
  .favorite-team
  {
    font-size:10px;
  }
  
  .reason
  {
    font-size:10px;
    width:90%;
  }
}

@media screen and (max-width:480px)
{
  h1
  {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 70px;
    border: 2px solid #000;
    border-radius: 100vh;
    width:80%;
    display:inline-block;
    text-align: center;
    font-size:30px;
  }
  
  h1 span
  {
    font-size: 15px;
    font-size: 2.0rem;
    line-height:50px;
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #000;
  }
  
  .user-image
  {
    width:5%;
    border:solid 1px black;
  }
  
  .team-image
  {
    width:5%;
  }
  
  .button
  {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .team_Name 
  {
    display: flex;
    font-size: 13px;
    text-align: center;
    margin-left: 10px;
  }
  
  .my-account
  {
    margin :0 10px;
  }
  
  .create
  {
    margin :0 10px;
  }
  
  .ranking
  {
    margin :0 10px;
  }
  
  .my-page
  {
    margin :0 10px;
  }
  
  .players
  {
    margin :0 10px;
  }
  
  .name
  {
    font-size:20px;
  }
  
  #player-team
  {
    font-size:20px;
  }
  
  #player-position
  {
    font-size:20px;
  }
  
  .player-image
  {
    width:30%;
  }
  
  .reviews
  {
    font-size:20px;
  }
  
  .poster
  {
    font-size:15px;
  }
  
  .favorite-team
  {
    font-size:12px;
  }
  
  .reason
  {
    font-size:10px;
    width:90%;
  }
  
}

@media screen and (max-width:360px)
{
  h1
  {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 70px;
    border: 2px solid #000;
    border-radius: 100vh;
    width:80%;
    display:inline-block;
    text-align: center;
    font-size:25px;
  }
  
  h1 span
  {
    font-size: 15px;
    font-size: 2.0rem;
    line-height:50px;
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #000;
  }
  
  .button
  {
    text-align: center;
    margin-bottom: 15px;
  }
  .team_Name
  {
    display: flex;
    font-size: 10px;
    text-align: center;
    margin-left: 10px;
  }
  
  .my-account
  {
    margin :0 10px;
  }
  
  .create
  {
    margin :0 10px;
  }
  
  .ranking
  {
    margin :0 10px;
  }
  
  .my-page
  {
    margin :0 10px;
  }
  
  .players
  {
    margin :0 10px;
  }
  
  .user-image
  {
    width:8%;
    border:solid 1px black;
    margin-right:4px;
  }
  
  .team-image
  {
    width:5%;
  }
  
  .name
  {
    font-size:20px;
  }
  
  #player-team
  {
    font-size:20px;
  }
  
  #player-position
  {
    font-size:20px;
  }
  
  .player-image
  {
    width:30%;
  }
  
  .reviews
  {
    font-size:20px;
  }
  
  .poster
  {
    font-size:12px;
  }
  
  .favorite-team
  {
    font-size:10px;
  }
  
  .reason
  {
    font-size:10px;
    width:90%;
  }
}